@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap');
.free-service{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.free-service h1{
    font-family: 'Heebo', sans-serif;
    font-size: 50px;
}
